# ─── System Files ─────────────────────────────
.DS_Store
**/.DS_Store
*.log
*.tmp

# ─── General Ignore ───────────────────────────
.env
.vscode/
.idea/

# ─── Node (JavaScript / npm) ──────────────────
me.npm/node_modules/
me.npm/dist/
me.npm/build/
me.npm/coverage/

# ─── Python (py) ─────────────────────────────
me.pip/__pycache__/
me.pip/**/*.pyc
me.pip/**/*.pyo
me.pip/**/*.egg-info/
me.pip/dist/
me.pip/build/
me.pip/*.egg
me.pip/venv/
me.pip/.venv/
me.pip/Pipfile.lock
me.pip/poetry.lock

# ─── Rust (crate) ─────────────────────────────
me.crate/target/
me.crate/.cargo/
